body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../img/bodyBg/BG.png); }

.header .bgimage {
  width: 100%;
  height: 100%;
  position: absolute; }
.header .head {
  padding: 30px 0px; }
  .header .head .maintitle p {
    font-size: 24pt;
    color: white;
    font-weight: bold; }
  .header .head .menu ul {
    list-style: none; }
    .header .head .menu ul li {
      padding: 0px 15px;
      font-size: 18pt;
      display: inline-block; }
      .header .head .menu ul li a {
        text-decoration: none;
        color: white; }
  .header .head .social ul {
    list-style: none; }
    .header .head .social ul li {
      display: inline-block; }
      .header .head .social ul li i {
        font-size: 24pt;
        padding: 0px 15px;
        color: white; }
.header .HomeAbout img {
  height: 80%; }
.header .HomeAbout p {
  color: white; }
.header .HomeAbout .aboutAppYuxari {
  font-size: 40pt; }
.header .HomeAbout .aboutAppAwaqi {
  font-size: 18pt; }
.header .HomeAbout ul {
  line-height: 111px;
  list-style: none; }
  .header .HomeAbout ul li {
    padding-right: 10px;
    display: inline-block; }
    .header .HomeAbout ul li a {
      text-decoration: none;
      border: 1px solid #4466c9;
      color: white;
      padding: 12px 32px;
      background-color: #4466c9;
      border-radius: 3px;
      transition: 0.2s ease; }
      .header .HomeAbout ul li a:hover {
        background-color: #fc6a42;
        border-color: #fc6a42;
        transition: 0.2s ease; }
.header .HomeAbout .phoneAbout {
  position: relative; }
.header .HomeAbout span {
  position: absolute;
  border-radius: 50%;
  font-size: 18pt;
  color: white; }
.header .HomeAbout .Sunny {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border: 1px solid #fc6a42;
  background-color: #fc6a42;
  bottom: 44%;
  left: 12%; }
.header .HomeAbout .london {
  border: 1px solid #4466c9;
  background-color: #4466c9;
  top: 35%;
  right: 8%;
  width: 117px;
  height: 108px;
  line-height: 108px; }
.header .HomeAbout .rio {
  color: #6e92f5;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border: 1px solid #fcec64;
  background-color: #fcec64;
  bottom: 15%;
  right: 16%; }
.header .HomeAbout .nine {
  color: #6e92f5;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  background-color: white;
  top: 9%;
  right: 22%; }
  .header .HomeAbout .nine::before {
    content: "";
    position: absolute;
    top: 19%;
    left: 60%;
    border: 2px solid blue;
    color: white;
    font-size: 10px;
    border-radius: 50%; }
.header .HomeAbout i {
  position: absolute;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  font-size: 18pt;
  bottom: 2%;
  left: 10%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fc6a42; }

.Features {
  padding: 100px 0px; }
  .Features .main {
    padding-bottom: 100px; }
    .Features .main h1 {
      font-size: 36pt;
      font-weight: 600;
      color: #648cff; }
    .Features .main p {
      color: #a6a6a6;
      font-size: 18pt; }
  .Features .content {
    padding: 0px 30px; }
    .Features .content h3 {
      font-size: 18pt;
      font-weight: bold; }
    .Features .content p {
      font-size: 13pt;
      color: #aeaeae; }

.Widgets {
  padding: 50px 0px; }
  .Widgets h1 {
    font-size: 36pt;
    font-weight: 600;
    color: #648cff; }
  .Widgets p {
    color: #a6a6a6;
    font-size: 18pt; }

.screenshots .screen {
  padding: 100px 0px; }
  .screenshots .screen .image img {
    position: relative; }
  .screenshots .screen .image span {
    position: absolute;
    border-radius: 50%;
    font-size: 18pt;
    color: white; }
  .screenshots .screen .image .cloudy {
    background-color: #fcec64;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    top: 27%;
    right: 27%; }
  .screenshots .screen .image .number {
    background-color: #6ca3ff;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    bottom: 20%;
    left: -10%; }
  .screenshots .screen .image .sunny {
    background-color: #f2a14e;
    right: 10%; }
  .screenshots .screen .image .thirty {
    background-color: #fc6a42;
    left: 8%; }
  .screenshots .screen .image .rainy {
    background-color: #b8faee;
    color: #8da9aa; }
  .screenshots .screen .image .nine {
    background-color: #7693c8; }
  .screenshots .screen .content img {
    padding: 65px 20px; }
  .screenshots .screen .content h1 {
    font-size: 36pt;
    font-weight: 600;
    color: #648cff; }
  .screenshots .screen .content p {
    font-size: 24pt; }
  .screenshots .screen .content .ikonlar {
    padding: 40px 20px; }

/*# sourceMappingURL=index.css.map */
