.header {
    position: relative;
    .head {
        padding: 30px 0px;
        .maintitle {
            p {
                font-size: 24pt;
                color: white;
                font-weight: bold;
            }
        }
        .menu {
            ul {
                list-style: none;
                li {
                    padding: 0px 15px;
                    font-size: 18pt;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: #e1e1e1;
                        transition: 0.2s ease;
                        &:hover {
                            color: white;
                            transition: 0.2s ease;
                        }
                    }
                }
            }
        }
        .social {
            ul {
                list-style: none;
                li {
                    display: inline-block;
                    i {
                        font-size: 24pt;
                        padding: 0px 15px;
                        color: white;
                    }
                }
            }
        }
    }
    .HomeAbout {
        img {
            height: 70%;
        }
        .haqqinda {
            padding: 90px 0px;
            h1 {
                font-size: 40pt;
                color: white;
                padding-bottom: 20px;
            }
            p {
                font-size: 18pt;
                color: white
            }
            ul {
                line-height: 111px;
                list-style: none;
                li {
                    padding-right: 10px;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        border: 1px solid #4466c9;
                        color: white;
                        padding: 12px 32px;
                        background-color: #4466c9;
                        border-radius: 3px;
                        transition: 0.2s ease;
                        &:hover {
                            background-color: #fc6a42;
                            border-color: #fc6a42;
                            transition: 0.2s ease;
                        }
                    }
                }
            }
        }
        .phoneAbout {
            position: relative;
            padding-top: 100px;
        }
        span {
            position: absolute;
            border-radius: 50%;
            font-size: 14pt;
            color: white;
        }
        .Sunny {
            width: 80px;
            height: 80px;
            line-height: 80px;
            border: 1px solid #fc6a42;
            background-color: #fc6a42;
            bottom: 44%;
            left: 17%;
        }
        .london {
            border: 1px solid #4466c9;
            background-color: #4466c9;
            top: 35%;
            right: 19%;
            width: 100px;
            height: 100px;
            line-height: 100px;
        }
        .rio {
            color: #6e92f5;
            width: 65px;
            height: 65px;
            line-height: 65px;
            border: 1px solid #fcec64;
            background-color: #fcec64;
            bottom: 24%;
            right: 22%;
        }
        .nine {
            color: #6e92f5;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border: 1px solid white;
            background-color: white;
            top: 9%;
            right: 22%;
            &::before {
                content: "";
                position: absolute;
                top: 19%;
                left: 60%;
                border: 2px solid blue;
                color: white;
                font-size: 10px;
                border-radius: 50%;
            }
        }
        i {
            position: absolute;
            border: 1px solid white;
            background-color: white;
            border-radius: 50%;
            font-size: 18pt;
            bottom: 15%;
            left: 10%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            color: #fc6a42;
        }
    }
}

@media screen and (max-width:777px) {
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    ul {
        text-align: center;
        padding: 0px !important;
    }
    .fa-angle-down {
        left: 45% !important;
    }
    .london {
        right: 9% !important;
    }
}